.techSection{
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    padding: 4rem;
    width: 100%;
    max-width: 65rem ;
}

.techUl{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
}

.techCards{
    display: flex;
    align-items: center;
    width: 278px;
    height: 70px;
    border: 1px solid white;
    border-radius: 1rem;
    margin: 0.5rem;
    padding-left: 27px;
    gap: 50px;
}
